<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BlockchainVotingApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BlockchainVotingApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/select2/css/select2.min.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/76c2720fae.js" crossorigin="anonymous"></script>
</head>
<body style="margin:0">
    <div class="bg-image" style="background-image: url('/media/bg.jpg');height: 100vh;">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="row h-100 w-100">
                <div class="col">
                    <div class="d-flex justify-content-center align-items-center h-100">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*  <footer class="border-top footer text-muted">
    <div class="container">
    &copy; 2023 - BlockchainVotingApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
    </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/select2/js/select2.min.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
