<div style="width: 35rem;">
    <div class="text-center p-3 mb-3">
        <h2 class="p-2">Welcome to VApp!</h2>
        <h4 class="p-2 mb-1">Sign in with your national ID</h4>
        <p style="font-size: 18px;">
            <a class="card-link text-decoration-none" href="Register">or Create a new account here</a>
        </p>
    </div>
    <form action="/Login/Login" method="post">
        <div class="form-group p-3 text-center">
            <input type="text" name="NationalId" id="nationalId" class="form-control bg-light border-info py-3 px-8 ps-3" placeholder="NationalId" />
        </div>
        <div class="form-group p-3 mb-2">
            <input type="password" name="Password" id="password" class="form-control bg-light border-info py-3 px-8 ps-3" placeholder="Password" />
        </div>
        <div class="form-group p-3 mb-2 text-center">
            <button type="submit" class="btn btn-primary px-5 py-2">Login</button>
        </div>
    </form>
</div>

