@model BlockchainVotingApp.Areas.Manage.Models.Candidate.ViewModels.CandidateViewModel

<h2 class="mb-5">Candidates List</h2>

<table id="candidatesTable" class="table">
    <partial name="/Areas/Manage/Views/Candidate/CandidatesListPartialView.cshtml" model="@Model.Items" />
</table>

@section Scripts {
    <script src="/js/areas/manage/candidate/index.js"></script>
}