@{
    Layout = "_HomeLayout";
}

<div class="row p-4">
    <div class="col">
        <p class="fw-bold" style="font-size: 37px;">Welcome to Blockachain-based voting app</p>
        <p class="text-secondary" style="font-size: 18px;">This system is a blockchain-based voting application that uses ZKP to improve voter privacy.</p>
        <a href="/Election/Index" type="button" class="btn btn-primary">Get Started</a>
    </div>
</div>

<div class="row p-4">
    <div class="card pt-3 pb-3 shadow p-3 mb-1 rounded h-100">
        <div class="card-body">
            <h3>Bar chart results -> number of votes per election</h3>
        </div>
    </div>
</div>
