@model BlockchainVotingApp.Models.Home.HomeViewModel

@{
    Layout = "_HomeLayout";
}

<div class="row p-4">
    <div class="col">
        <p class="fw-bold" style="font-size: 37px;">Welcome to Blockachain-based voting app</p>
        <p class="text-secondary" style="font-size: 18px;">This system is a blockchain-based voting application that uses ZKP to improve voter privacy.</p>
        <a href="/Election/Index" type="button" class="btn btn-primary">Get Started</a>
    </div>
</div>

@if (Model.Elections.Any())
{
    <div class="row p-4">
        <div class="col">
            <h5>Choose the election to see the results</h5>
            <select name="Election" data-election-select="true">
                @foreach (var election in Model.Elections)
                {
                    <option value="@election.Value">@election.Key</option>
                }
            </select>
        </div>
    </div>

    <div class="row p-4">
        <div class="card pt-3 pb-3 shadow p-3 mb-1 rounded h-100">
            <div class="card-body">
                <canvas id="chart-election-results"></canvas>
            </div>
        </div>
    </div>


    @section Scripts {
    <script src="~/js/home.js"></script>
    }
}
else
{
    <div class="row p-4">
        <div class="col">
            <h5>There is no finalized election yet. We are waiting for the results!</h5>
        </div>
    </div>

}
