@model BlockchainVotingApp.Models.Home.HomeViewModel

@{
    Layout = "_HomeLayout";
}

<div class="text-center h-100 w-100 p-2 mt-5">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">
                        <span>
                            <i class="fa-solid fa-user"></i>
                            <span>Ongoing elections</span>
                        </span>
                    </div>
                </div>
                <div class="card-body" id="electionsCardBody">
                    <p>Card body</p>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">
                        <span>
                            <i class="fa-solid fa-user"></i>
                            <span>Candidates results</span>
                        </span>
                    </div>
                </div>
                <div class="card-body" id="electionResultsCardBody">
                    <p>Card body</p>
                </div>
            </div>
        </div>
    </div>
</div>
